@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<br />
<div class="border shadow-lg p-4 mb-4" style="background-color: #a8e4a0">
    <div class="container-fluid pt-5">
        @if (TempData["MsgError"] != null)
        {
            <div class="container">

                <div class="alert-danger">
                    <div class="alert alert-danger">

                        @TempData["MsgError"].ToString()
                    </div>
                </div>

            </div>
        }
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xlg-6">
                <a asp-action="Home" asp-controller="Admin">
                    <div class="card card-hover" style="background-color: #e3fbe3">

                        @*<div class="box bg-cyan text-center">*@
                        <div class="text-center pt-3">
                            <h1 class="font-light text-black">
                                @*<i class="mdi mdi-view-dashboard"></i>*@
                                <img src="~/img/Artboard5.png" />
                            </h1>
                            <h6 class="text-black" style="color: #ff7b00; font-weight: 900">Monthly Posting</h6>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-6 col-xlg-6">
                <a asp-action="Index" asp-controller="Home">
                    <div class="card card-hover pt-3" style="background-color: #e3fbe3">
                        @*<div class="box bg-success text-center">*@
                        <div class="text-center">
                            <h1 class="font-light text-black">
                                @*<i class="mdi mdi-chart-areaspline"></i>*@
                                <img src="~/img/Artboard7.png" />
                            </h1>
                            <h6 class="text-black" style="color: #ff7b00; font-weight: 900">Contributions</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


