
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<div class="border shadow-lg p-4 mb-4 bg-white">
    <div class="container-fluid">
        <div class="container-fluid bg-3 text-center">
            <h1 class="mainheading">Monthly posting</h1>
            <p class="mainheading">If you need to contact us phone 01274 434563 or 01274 435310</p>
        </div>

        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Sales Cards  -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
                <a asp-action="Index" asp-controller="Admin">
                    <div class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <h1 class="font-light text-white">
                                <i class="mdi mdi-view-dashboard"></i>
                            </h1>
                            <h6 class="text-white">Leeds Council</h6>
                            <div class="loading loading--full-height"></div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-success text-center">
                        <h1 class="font-light text-white">
                            <i class="mdi mdi-chart-areaspline"></i>
                        </h1>
                        <h6 class="text-white">Hounslow </h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h1 class="font-light text-white">
                            <i class="mdi mdi-collage"></i>
                        </h1>
                        <h6 class="text-white">Lincolnshire</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-danger text-center">
                        <h1 class="font-light text-white">
                            <i class="mdi mdi-border-outside"></i>
                        </h1>
                        <h6 class="text-white">WYPF</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-info text-center">
                        <h1 class="font-light text-white">
                            <i class="mdi mdi-relative-scale"></i>
                        </h1>
                        <h6 class="text-white">Barnet</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-4 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-warning text-center">
                        <h1 class="font-light text-white">
                            <i class="mdi mdi-alert"></i>
                        </h1>
                        <h6 class="text-white">London Borough of Hounslow</h6>
                    </div>
                </div>
            </div>
           
            <!-- Column -->
        </div>
    </div>
</div>
