@using MCPhase3.Common;
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options;
@inject IOptions<ApiEndpoints> ApiEndpoints
@{
    var _apiEndpoints = ApiEndpoints.Value;
    var _Environment = _apiEndpoints.Environment;
}

@if (_Environment.ToLower().Equals("live") == false)
{    
    <div style="position:absolute; top:1em; right:1em;">
        <h3><span class="badge rounded-pill bg-danger">@_Environment</span></h3>
    </div>
}
