<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>MonthlyPosting</title>
    <!-- Favicon icon -->
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/img/wypf_mainlogoIco.png" />
    <!-- Custom CSS -->
    <link href="~/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    <link href="~/css/MCcss.css" rel="stylesheet" />
    <link href="~/css/spiner.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/css/perfect-scrollbar.min.css" />
    
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>   

    <partial name="_BusyIndicatorPartial" />

    <img src="~/img/logo.png" class="light-logo img-fluid" alt="WYPF Logo" />    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Admin/" >
                <img src="~/img/Artboard4.png" alt="MCP" style="height:80px; width:150px;"/>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                </div>
                <div class="navbar-nav ms-auto">                    
                    <a id="passToWYPF" class="btn btn-outline-danger pt-2" href="/Admin/SubmitForProcessing" style="display:none;">Submit to WYPF</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin4"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="footer text-center">
            All Rights Reserved by
            <a style="color: green;font:bold" href="https://www.wypf.org.uk/">WYPF</a>.
        </footer>
    </div>

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @*<script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>

    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>

    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    
    <script src="~/dist/js/custom.min.js"></script>

    <!--This page JavaScript -->
    <!-- <script src="~/dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <!--
    <script src="~/assets/libs/flot/excanvas.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.js"></script>

    <script src="~/assets/libs/flot/jquery.flot.canvas.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.errorbars.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.image.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.navigate.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.selection.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.symbol.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.threshold.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.time.js"></script>

    <script src="~/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/assets/libs/flot/tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/dist/js/pages/chart/chart-page-init.js"></script>
    -->

    @*The following is for Ajax Loading Spinner*@
    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    
    <script src="~/js/site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @*<script src="~/assets/extra-libs/datatables/datatables.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*//## keep this at the bottom*@
    @RenderSection("scripts", required: false)


</body>
</html>
