<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Monthly Contribution Portal</title>   
     <link href="~/css/MCLogincss.css" rel="stylesheet" />   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> 
 
    
    <!--    <link href="css/bootstrap.css" rel="stylesheet" />-->
     <script src="~/js/fontawesome.min.js"></script>
    <script src="~/js/html5shiv.js"></script>
</head>
<body>
    @*<img src="~/img/logo.png"  alt="WYPF Logo" class="light-logo img-responsive mdi-responsive"/>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="~/login/login.js"></script>
    <script src="~/js/jquery.device.detector.js"></script>    
    @RenderSection("Scripts", required: false)
</body>
</html>
