@model MCPhase3.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 500</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Request processing error.</h3>
<div class="alert alert-danger mb-3 h3">
    Sorry for the inconvenience. The Support Team has been notified this issue. Please try again later.
</div>
<div class="alert alert-warning h4">
    @*Message: @Model.Message <br /><br /><br />*@
    Path: @Model.ErrorPath
    <hr />
    <a href="~/Admin/" class="btn btn-success" alt="Back to Home page">Back to Home page</a>
</div>