<h5>Password policy:</h5>
<ul>
    <li>at least 12 characters,</li>
    <li>one or more capital letters,</li>
    <li>one or more lower case letters,</li>
    <li>one or more numbers,</li>
    <li>one or more special characters, for example !,”.#</li>
    <li>should not contain the user name</li>
    <li>not have 3 or more of the same characters together, e.g. aaa or 111  </li>
</ul>