@model MCPhase3.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    string loginMessage = TempData["Msg1"]?.ToString();
    string messageSession = TempData["MsgSession"]?.ToString();
    string passwordUpdatedMessage = TempData["UpdateMessage"]?.ToString();
}

<div class="">
    <div class="wrap-login100">
        @{
            if (string.IsNullOrEmpty(Model.LoginErrorMessage) == false)
            {
                <div class="col-12 alert alert-danger">
                    @Model.LoginErrorMessage
                </div>
            }

            //## is there any message from 'Password Update' page? if YES- show it now
            if (string.IsNullOrEmpty(passwordUpdatedMessage) == false)
            {
                <div class="col-12 alert alert-info">
                    @passwordUpdatedMessage
                </div>
            }
        }

        <div class="login100-pic pt-5">
            @*<img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="IMG">*@
            <img src="~/img/Artboard4.png" alt="login img" />
            <div class="text-center pt-5">
                <p style="color: #2FA22F; font-weight: 900 ">
                    If you have any problem or would like to get in touch with WYPF finance team, please contact your <i>Finance Business Partner</i>.
                </p>
            </div>
        </div>

        @*<form class="login100-form validate-form" method="post">*@
        <div>


            <form id="LoginForm" asp-action="Index" asp-controller="Login" method="post">
                <span class="login100-form-title" style="color: #2FA22F; font-weight: 900">
                    WYPF Monthly Posting Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid Username is required">
                    <input class="input100" asp-for="UserId" placeholder="Username *" required />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" asp-for="Password" type="password" placeholder="Password *" required />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>

                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="LogInAsAdminCheck" name="LogInAsAdminCheck">
                    <label class="form-check-label" for="LogInAsAdminCheck">
                        Admin user?
                    </label>
                </div>

                <input id="BrowserIdInput" type="hidden" asp-for="BrowserId" />
                <input id="WindowsIdInput" type="hidden" asp-for="WindowsId" />

                <div class="container-login100-form-btn">
                    <button value="Submit" type="submit" class="login100-form-btn click-and-wait-button">Login</button>
                </div>

                <div class="mt-3 text-center fw-bold">
                    <a id="ForgottenPasswordButton" class="btn btn-danger text-white" href="#">Forgot password?</a>
                </div>
            </form>


            @* Forgotten Password Request Div *@
            <div id="ForgottenPasswordDiv" class="d-none login100-pic pt-5">
                <span class="login100-form-title" style="color: #2FA22F; font-weight: 900">
                    Reset Your Password
                </span>

                @* Forgotten Password Request Div *@
                <div id="ForgottenPasswordRequestDiv">
                    <p class="h6">
                        We will email you with instructions to reset your password to the email we have in our system.
                    </p>
                    <div class="wrap-input100 validate-input" data-validate="Valid Username is required">
                        <input class="input100" id="ForgottenUserId" placeholder="User Id *" required />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="validation-alert text-danger d-none">
                        Please enter a valid user id.
                    </div>

                    <div class="mt-3">
                        <a id="SendResetRequestButton" class="text-danger btn btn-sm btn-outline-primary" href="#">Send link</a>
                        <a id="SendingWaitingButton" class="btn btn-sm btn-outline-primary disabled d-none" href="">
                            <span class='spinner-border spinner-border-sm d-none' role='status' aria-hidden='true'></span><span class='mr-2'>&nbsp;Sending link...</span>
                        </a>

                        <a id="BackToLoginButton" class="btn btn-sm btn-outline-secondary" href="#">Back to Login</a>
                    </div>



                </div>

            </div>

            @* Forgotten Password Request - Show link sent confirmation Div *@
            <div id="PasswordRequestSentConfirmationDiv" class="login100-pic pt-5 d-none">
                <span class="login100-form-title" style="color: #2FA22F; font-weight: 900">
                    Password Reset
                </span>

                <div class="alert alert-info success-message d-none">
                    <i class="fa fa-thumbs-up fa-lg mr-2"></i>
                    An email has been sent to you with a password reset link.<br />
                    For security measure- the link in the email will expire in 10 minutes. Please make sure you use the link before the expiry time.<br />
                    Notes: Check your spam/junk folder.
                </div>
                <div class="alert alert-danger failed-message d-none">
                    <i class="fa fa-exclamation-triangle fa-lg mr-2"></i>
                    Failed to send reset link.<br />
                    Unfortunatley the server is busy and could not send a password reset link to your email address.<br/>
                    We are really sorry for this inconvenience. Please try again later.
                </div>

                <div class="mt-3">
                    <a class="btn btn-sm btn-outline-primary back-to-login-btn" href="/Login">Back to Login</a>
                </div>

            </div>

        </div>


    </div>
</div>