@model MCPhase3.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    string loginMessage = TempData["Msg1"]?.ToString();
    string messageSession = TempData["MsgSession"]?.ToString();
}

<div class="">
    <div class="wrap-login100">
        @{
            if (string.IsNullOrEmpty(Model.LoginErrorMessage) == false){
                <div class="col-12 alert alert-danger">
                    @Model.LoginErrorMessage
                </div>                    
            }
        }

        <div class="login100-pic pt-5">
            @*<img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="IMG">*@
            <img src="~/img/Artboard4.png" alt="login img" />
            <div class="text-center pt-5">
                <p style="color: #2FA22F; font-weight: 900 ">
                    If you have any problem or would like to get in touch with WYPF finance team, please contact your <i>Finance Business Partner</i>.
                </p>
            </div>
        </div>

        @*<form class="login100-form validate-form" method="post">*@
        <form id="LoginForm" asp-action="Index" asp-controller="Login" method="post">
            <span class="login100-form-title" style="color: #2FA22F; font-weight: 900">
                WYPF Monthly Posting Login
            </span>

            <div class="wrap-input100 validate-input" data-validate="Valid Username is required">
                <input class="input100" asp-for="UserId" placeholder="Username *" required />
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
                <input class="input100" asp-for="Password" type="password" placeholder="Password *" required />
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>

            </div>

            <input id="BrowserIdInput" type="hidden" asp-for="BrowserId"/>
            <input id="WindowsIdInput" type="hidden" asp-for="WindowsId"/>

            <div class="container-login100-form-btn">
                <button value="Submit" type="submit" class="login100-form-btn click-and-wait-button">Login</button>
            </div>

            @* <div class="mt-3 text-center fw-bold">
                <a id="ForgottenPasswordButton" class="text-danger" href="#">Forgot password?</a>
            </div> *@
        </form>

        @* Forgotten Password Request Div *@
        <div id="ForgottenPasswordDiv" class="d-none">
            <span class="login100-form-title" style="color: #2FA22F; font-weight: 900">
                Password Reset
            </span>

            @* Forgotten Password Request Div *@
            <div id="ForgottenPasswordRequestDiv">
                <p class="h6">
                    We will email you with instructions to reset your passwordto the email we have in our system.
                </p>
                <div class="wrap-input100 validate-input" data-validate="Valid Username is required">
                    <input class="input100" id="ForgottenUserId" placeholder="Username *" required />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="mt-3">
                    <a id="SendResetRequestButton" class="text-danger btn btn-outline-primary" href="#">Reset Password</a>
                </div>

                

            </div>

            @* Forgotten Password Request - Sent confirmation Div *@
            <div id="PasswordRequestSentConfirmationDiv" class="d-none">
                <div class="alert alert-info">
                    An email has been to you with a password reset link.<br/>
                    For security measure- the link in the email will expire in 10 minutes. Please make sure you use the link before the expiry time.<br />
                    Notes: Check your spam/junk folder in case they are filtered out by your mail provider.
                </div>

                <div class="mt-3">
                    <a class="btn btn-outline-primary" href="/Login">Back to Login</a>
                </div>

            </div>
        </div>
    </div>
</div>