@model MCPhase3.Models.UserSessionInfoVM

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    
    <div class="alert alert-warning mt-5" style="margin-top:3em;">        
        <h2><i class="fa-regular fa-user-group-simple"></i>
            Warning: Duplicate session found!</h2>
    </div>
    <div>
        <h4>
            <i class="mdi-content-duplicate me-1 ms-1"></i>
            There is already a session running. Please see the details below:
        </h4>
        <p>
            <ul>
                <li><i class="fa-solid fa-computer"></i>
                    Computer: <span class="badge text-danger">@Model.WindowsId</span>
                </li>
                <li><i class="fa-brands fa-chrome"></i>
                    Browser: <span class="badge text-danger">@Model.BrowserId</span>
                </li>
                <li><i class="fa-regular fa-clock"></i>
                    Last loged in: <span class="badge text-danger">@Model.LastLoggedIn</span>
                </li>
            </ul>
        </p>


    </div>
    <h4 style="margin-top:2em;">Do you want to continue here on this browser or discard current login?</h4>

    <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="ProceedCurrentSession">
        <div class="w-50">
            <input type="hidden" asp-for="BrowserId" />
            <input type="hidden" asp-for="WindowsId" />
            <input type="hidden" asp-for="UserId" />

            <button id="ContinueButton" type="submit" class="btn btn-primary me-2">Continue current login</button>
            <span id="DiscardButton" class="btn btn-danger" onclick="location.replace('/login/');">Close</span>

        </div>

    </form>
</div>