@model MCPhase3.Models.DummyLoginViewModel

@if (!string.IsNullOrEmpty(Model.UserName))
{
    <a class="nav-item nav-link">Payroll provider: <b>@Model.EmployerName</b></a>   
    <a class="nav-item nav-link">

        You are logged in as:
        <b>@Model.UserName</b>
    </a>
}
else
{
   <script> window.location.href = "/Login/" </script>
}
<li class="nav-item dropdown">
    <a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  "
       href="#"
       id="navbarDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <img src="~/assets/images/users/1.jpg"
             alt="user"
             class="rounded-circle"
             width="31"/>        
    </a>
    <ul class="dropdown-menu dropdown-menu-end user-dd animated"
        aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-controller="Admin" asp-action="UpdatePassword"><i class="mdi mdi-account me-1 ms-1"></i> My Profile</a> 
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Login" asp-action="Logout"><i class="fa fa-power-off me-1 ms-1"></i> Logout</a>        
    </ul>
</li>